* {
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
p, ol, ul, h4, h5, h6 {
    max-width: 85ch;
    font-size: 1rem;
}
h1, h2, h3 {
    max-width: 60ch;
}
h1 {
    width: 100%;
    margin: 2rem 0 ;
    text-align: center;
    font-family: 'Tangerine', cursive;
    letter-spacing: 7px;
    font-weight: 100;
    font-size: 4rem;

}
p, label {
    font-family: 'Roboto Condensed', sans-serif;
}
.help {
    width: 2rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    transition: transform .2s;
}
.help:hover {
    cursor: pointer;
    transform: scale(1.15);
}
#alert_info_mise {
    color: #990000;
    margin-top: 1rem;
}
.dos_carte {
    border-radius: 15px;
}
.carte_croupier_reveal {
    display: none;
}
.js-reveal {
    display: flex;
}
.dos_carte-js-hidde {
    display: none;
}
.tapis {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background: center no-repeat url('img/background.jpg');
    background-size: cover;
    color: white;

    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
}
.contain_separation {
    display: none;
}
.contain_separation-js-show {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.separation {
    width: 40rem;
}

.contain_end_game {
    display: none;
}
.contain_end_game-js-show {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
#input_new_game {
    width: 15rem;
}
input {
    width: 10rem;
    background: white;
    color: black;
    /* border: 1px solid white; */
    border: none;
    margin: 1rem;
    padding: 8px 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
}
input:hover {
    cursor: pointer;
    background: #bca85f;
    color: white;
    border: 1px solid white;
}
.contain_player_croupier_hand {
    display: none;
    justify-content: center;
}
#contain_player_hand {
    position: absolute;
    width: 100%;
    bottom: 5.2rem;
}
.cards {
    width: 8rem;
}
.card_player {
    transition: transform .2s;
}
.card_player:hover {
    transform: scale(1.15);
    -webkit-box-shadow: 0px 0px 20px 0px #000000;
    box-shadow: 0px 0px 20px 0px #000000;
}
#cadre_croupier {
    border: 2px solid white;
    border-radius: 40px;
    padding: 1rem 0;
}
.contain_actions {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.controller {
    display: flex;
    justify-content: space-between;
    border: 1.5px solid #bca85f;
    background: black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom: none;
    padding: 1rem 2rem;
}
.contain_action_button {
    display: none;
}
.contain_action_button-js-show {
    display: flex;
}
#contain_action_text {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 0 0 1rem 2rem;
    font-style: italic;
}

.contain_action_next_game {
    display: none;
}
.contain_action_next_game-js-show {
    display: flex;
    justify-content: center;
}

.contain_mise_form {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}
.js-contain_mise_form_show {
    display: flex;
}
.contain_input_mise {
    display: flex;
    flex-direction: column;
}
#input_mise {
    margin: 0;
    width: 17rem;
    margin-top: 0.5rem;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    padding: 10px;
    color: white;
}
#input_mise:hover {
    cursor: text;
    color: white;
}
.text_indic {
    font-size: 11px;
}
#mise {
    display: flex;
    align-items: center;
}
.contain_score_player {
    display: none;
}
.js-contain_score_player_show {
    display: flex;
    align-items: center;
}
.contain_ace_value {
    display: none;
}
.js-contain_ace_value_show {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.contain_form_ace_value {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background: rgba(0,0,0,0.6);
    padding: 4rem 0;
    border-top: 1px solid #bca85f;
    border-bottom: 1px solid #bca85f;
    width: 100%;
}
.contain_score_ace {
    display: flex;
    margin-top: 1rem;
}
.score_ace {
    background: white;
    color: black;
    margin-right: 1rem;
    padding: 2rem;
    border: 1px solid transparent;
}
.score_ace:hover {
    cursor: pointer;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
.contain_wallet_mise {
    display: none;
    position: fixed;
    top: 2rem;
    left: 2rem;
    border: 1px solid #bca85f;
    padding: 1rem;
    border-radius: 30px;
}
.js-contain_wallet_mise_show {
    display: block;
}

#button-surrender {
    color: #990000;
    border: 1px solid #990000;
}
#button-surrender:hover {
    color: white;
    background: #990000;
}

.button_next_game {
    display: none;
}

.js-button_hidden {
    display: none;
}
.js-show_block {
    display: block;
}
.js-show_flex {
    display: flex;
}


/* -------------------- modal css --------------------------- */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    font-family: 'Roboto Condensed', sans-serif;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
} 
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}  
.modal-header {
    padding: 1rem;
    background-color: #bca85f;
    color: white;
}
  
.modal-body {
    padding: 1rem;
}
  
.modal-footer {
    padding: 1rem;
    background-color: rgb(36, 36, 36);
    color: white;
}
.modal ul {
    margin-left: 1rem;
    list-style-type: circle;
}
.title_rules {
    margin: 1rem 0;
    font-weight: bold;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}